body{
background: url("pt.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.item_wrn, .item_err, .item_success {
	border: 1px solid #e6db55;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	line-height: 18px;
	margin-bottom: 10px;
	background: #ffffe0;
	color: #333;
}
.item a, .item_wrn a, .item_err a,.item_success a{
	text-decoration: none;
	padding: 1px 1px 2px;
}
.item_err .icon, .item_wrn .icon, .item_success .icon{
	background: url(./messages.png) no-repeat right 0;
	width: 18px;
	height: 18px;
	float: right;
	margin: 0 2px 0 6px;
}
.item_wrn a{ color: #C30; }
.item_wrn a:hover{ background-color: #C30;	color: #FFF;}
.item_wrn .icon { background-position: right -18px; }	
.item_err{ border-color: #fe8f6b; background: #ffe2d9;}
.item_err a{ color: #ce3e0e; }
.item_err a:hover{background-color: #ce3e0e;color: #FFF;}
.item_success{ border-color: #47AF41; background: #D2FFCF;}
.item_success .icon { background-position: right -36px; }	
.item_success a{ color: #088F1B; }
.item_success a:hover{background-color: #088F1B;color: #FFF;}
.rtag{
color:#1298CC;
display:inline;
}
#supp a{text-decoration:none;}
.error {
  background: none repeat scroll 0 0 rgba(255, 191, 191, 0.48);
  border: 1px solid #ffb200;
  height: 56px;
  margin-top: 25px;
  width: 508px;
}
#b {
  color: #a95c5c;
  margin-top: 11px;
}
.artopmsg {
  background: none repeat scroll 0 0 rgba(207, 255, 191, 0.48);
  border: 1px solid #32aa0b;
  height: 45px;
  margin-top: 25px;
  width: 510px;
}
#sss {
  color: #345f07;
  margin-top: 11px;
}
.SearchTBox {
font-family: tahoma;
font-size: 11px;
height: 25px !important;
width: 200px;
}
.SearchButton {
  cursor: pointer;
  font-family: tahoma;
  font-size: 11px;
  height: 25px;
  width: 59px;
}